@page
@model IndexModel
@{
    Layout = "~/Pages/Shared/_LayoutNav.cshtml";
    ViewData["Title"] = "Inicio";
}

<!-- pageContent -->
<section class="full-width pageContent">
    <div class="mdl-tabs__panel pt-5" id="tabIndex">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--8-col-desktop mdl-cell--2-offset-desktop">

                <div class="row">
                    <div class="col-3 panel  p-2 m-2">
                        <div class="col-auto">
                            <div class="card bg-white text-white">
                                <img src="assets/img/amarillo1.png" class="card-img img-fluid" alt="...">
                                <a href="Products" style="color:white;">
                                    <div class="card-img-overlay text-center mt-5">
                                        <h6 class="card-title">PRODUCTOS</h6>
                                        <i class="zmdi zmdi-assignment zmdi-hc-3x"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="col-3 panel  p-2 m-2">
                        <div class="col-auto">
                            <div class="card bg-white text-white">
                                <img src="assets/img/naranja1.png" class="card-img img-fluid" alt="...">
                                <a href="Inventory" style="color:white;">
                                    <div class="card-img-overlay text-center mt-5">
                                        <h6 class="card-title">INVENTARIO</h6>
                                        <i class="zmdi zmdi-store zmdi-hc-3x zmdi-hc-fw"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="col-3 panel  p-2 m-2">
                        <div class="col-auto">
                            <div class="card bg-white text-white">
                                <img src="assets/img/azul1.png" class="card-img img-fluid" alt="...">
                                <a href="Client" style="color:white;">
                                    <div class="card-img-overlay text-center mt-5">
                                        <h6 class="card-title">CLIENTES</h6>
                                        <i class="zmdi zmdi-accounts zmdi-hc-3x"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 panel  p-2 m-2">
                        <div class="col-auto">
                            <div class="card bg-white text-white">
                                <img src="assets/img/aqua1.png" class="card-img img-fluid" alt="...">
                                <a href="Sales" style="color:white;">
                                    <div class="card-img-overlay text-center mt-5">
                                        <h6 class="card-title">VENTAS</h6>
                                        <i class="zmdi zmdi-shopping-cart zmdi-hc-3x"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="col-3 panel  p-2 m-2">
                        <div class="col-auto">
                            <div class="card bg-white text-white">
                                <img src="assets/img/verde1.png" class="card-img img-fluid" alt="...">
                                <a href="Providers" style="color:white;">
                                    <div class="card-img-overlay text-center mt-5">
                                        <h6 class="card-title">PROVEEDORES</h6>
                                        <i class="zmdi zmdi-truck zmdi-hc-3x"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="col-3 panel  p-2 m-2">
                        <div class="col-auto">
                            <div class="card bg-white text-white">
                                <img src="assets/img/magenta1.png" class="card-img img-fluid" alt="...">
                                <a href="Categories" style="color:white;">
                                    <div class="card-img-overlay text-center mt-5">
                                        <h6 class="card-title">CATEGORIAS</h6>
                                        <i class="zmdi zmdi-label zmdi-hc-3x"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>