@page
@model inventory_fashion_city.Pages.SignupModel
@{
    Layout = "~/Pages/Shared/_LayoutNav.cshtml";
}
<!-- pageContent -->
<section class="full-width pageContent">
    <section class="full-width text-center" style="padding: 40px 0;">
        
    </section>
</section>